{{#if isCompleting}}
  <h2>Finish filling out your profile.</h2>
<form>
  <label>First Name</label>
  {{input type="text" value=model.firstName}}
  <br>
  <label>Last Name</label>
  {{input type="text" value=model.lastName}}
  <br>
  <label>Username</label>
  {{input type="text" value=model.username}}
  <br>
  <button type="submit" {{action "createUser" email password}}>Complete</button>
</form>
{{else}}
  <button {{action "toggleCreate"}}>{{if isCreating 'login instead' 'create account instead'}}</button>
  <form>
    <label>Email</label>
    {{input type="text" value=email}}
    <br>
    <label>Password</label>
    {{input type="password" value=password}}
    <br>
    {{#if isCreating}}
      <button type="submit" {{action "createUser" email password}}>Create</button>
    {{else}}
      <button type="submit" {{action "login" email password}}>Login</button>
    {{/if}}
  </form>
{{/if}}
