<screen>
  <page>
    <box>
      <nav>
        <h1>Runspired <button {{action "toggleCreate"}}>Create Account</button></h1>
      </nav>
    </box>
    <vbox>
      {{#if isCreating}}
        <div>
          <h2>Create Account</h2>
          <label>Email</label><br>
          {{input type="text" value=email}}
          <br><label>Password</label><br>
          {{input type="password" value=password}}
          <button {{action "createUser" email password}}>Create</button>
        </div>
      {{else if isCompleting}}
        <div>
          <h2>Account Details</h2>
          <label>Username</label><br>
          {{input type="text" value=model.username}}
          <br><label>First Name</label><br>
          {{input type="text" value=model.firstName}}
          <br><label>Last Name</label><br>
          {{input type="text" value=model.lastName}}
          <button {{action "completeUser" model}}>Complete</button>
        </div>
      {{else}}
        <div>
          <h2>Sign In</h2>
          <label>Email</label><br>
          {{input type="text" value=email}}
          <br><label>Password</label><br>
          {{input type="password" value=password}}
          <button {{action "signIn" email password}}>Sign In</button>
        </div>
      {{/if}}
    </vbox>
  </page>
</screen>