<div class="col-xs-4">
  {{async-image src=participant.gravatar}}
</div>
<div class="col-xs-8">
  {{#link-to 'participant' participant.id tagName='div'}}
    {{participant.fullName}}
  {{/link-to}}
  <button {{action "toggleExpand"}}>Expand</button>
  {{#liquid-if isExpanded use="fade"}}
    <div><a href="mailto:{{participant.email}}">{{participant.email}}</a></div>
    {{user-form
      firstName=participant.firstName
      save=saveUser
      participant=participant
    }}
  {{/liquid-if}}
</div>